
/***************************** tag styles *******************************/

h1 {
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 100px;
}
h2 {
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    font-weight: 500; 
    margin-bottom: 0;
}
h3 {
    color: #363958;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;

}
p {
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    
}

.orange-text {
    color: #ff8367;
}

/*************************************** nav-section ***************************************/
#nav-section {
    height: 30px;
}
#nav-section ul{
    list-style: none;
    position: absolute;
    right:100px;
    top: 20px;
}

.nav-list {
    display: inline;
    padding: 0px 15px;
}

.nav-link {
    color: #3c3c3c;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    
}

/************************************* hello-section *********************************/
#hello-section {
    height: 500px;
    margin-left: 3%;
    width: 80%;
   
}


.anchor-btn {
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border: 2px ;
    border-radius: 6px;
    color: #ffffff;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    margin-top: 4%;
    padding: 15px 30px;
    text-decoration: none;  
}
.half-part {
    float:left;
    margin-left: 6%;
    padding-left: 3%;
    width: 40%;
}
.half-img {
    width: 100%;
    margin-top: 20%;
}

/********************************* about-section **************************/
#about-section {
    height: 600px;
    margin-left: 5%;
    width: 80%;
   
}



#about-img {
    bottom: 5%;
    position: relative;
    right: 5%;
    
}

#about-text {
    left: 5%;
    position: relative;
    top: 10%;
}

/********************************* project-section *************************************/

#project-section {
    background-color: #E5E5E5;
    padding: 5% 0% 10% 0;
       
}

#project-section h2 {
    margin-bottom: 5%;
    text-align: center;
}



#project-content {
    display: flex;
    justify-content: center;
}

.project-cards {
    background-color: #ffffff;
    border: 2px;
    border-radius: 5%;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 0 1%;
    padding: 1%;
    text-align: canter;
    width: 25%;  
}
.project-cards p {
    color: #6c6c6c;
}


/********************************* Work-section **********************************/
#work-section {
    display: flex;
    justify-content: center;
    margin: 5% auto;
}
 #work-rectangle {
     background-image: url("images/Group_33094_1.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     padding: 5%;
     width: 55%;
     
     
 }

 #work-content {
    display: flex;
    justify-content: space-between;
 }

 #work-content h2 {
    bottom: 15%;
    color: #ffffff;
    font-size: 64px;
    position: relative;

 }

 #work-content a {
    position: relative;
    top: 30%;
 }

 /***************************** form-section ********************************/

 #form-section {
     height: 450px;
     position: relative;
     right: 5%;
     text-align: center;
     
    
 }

 #keep-touch {
    padding: 15%
 }
 #form {
     background-color: #e5e5e5;
     /* background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%); */
     padding: 5% 0;
     border-radius: 5%;
 }
 .form-input {
    border: #ffffff;
    padding: 3%;
    margin: 1% 0;
     
     /* box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.1); */
 }

 /********************************** contact-section ****************************/

 #contact-section {
     text-align: center;
 }

 #contact-section h3 {
    color: #696871;
    font-family: 'Bebas Neue', cursive;
    
 }

 #contact-section a {
    
     color: #363958;
     font-family: 'Roboto', sans-serif;
     font-size: 36px;
     font-weight: 700;
     text-decoration: none;
 }

 .icons {
    margin: 2.5% 1%;
    width:3%;
     
 }

 /* footer */
 footer{
    color: #6c6c6c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: .5rem;
    text-align: center;
    
}